body {
	background-color: #FFF68D;
	color: #2C3E50;
	font-family: 'Raleway', "Century Gothic";
	margin: 0px;
	padding: 0px;
}

footer {
	font-size: 13px;
	font-family: "Century Gothic";
	text-align: center;

	grid-column-start: 2;
	grid-column-end: 3;
}

#container { 
	display: grid;
	grid-template-columns: 5% auto 5%;
}

#logo {
	grid-column-start: 2;
	grid-column-end: 3;

	background-image: url("../images/DW_Logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 300px;
}

hr {
	border-bottom-color: #ebda0c;
}

nav {
	grid-column-start: 2;
	grid-column-end: 3;
}

#ourLink {
	color: #F02489;
	text-decoration: none;
	padding: 2px 4px;
	border-radius: 4px;
	transition: background-color 0.5s, color 0.5s;

}

#ourLink:hover {
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1) inset;
	text-shadow: 0px 1px 0px #FFB6B6;
	color: #FF2B58;
}

#license {
	font-size: 6px;
}

hr {
	grid-column-start: 2;
	grid-column-end: 3;
	width: 100%;
}
section {
	grid-column-start: 2;
	grid-column-end: 3;
}

/* menu */

#leftie {
	float: left;
}
nav a {
	float: right;
	margin: 0 15px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #F02489;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	text-shadow: 0 0 1px rgb(129 126 37);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	max-height: 100%;
	color: #000;
	content: attr(data-hover);
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-height: 0%;
}

/* end menu */

/* buttons */

.fandl .inepcx a {
	display: block;
	color: #fff;
	margin: 5px;
	padding: 15px;
	background: #0c70de;
	border-radius: 5px;
	line-height: normal;
}

.fandl .inepcx a:hover {
  background: #333;
}

.fandl .inepcx {
  text-align: center;
}

.fandl .inepcx a span.epcur {
  font-size: 20px;
  margin-top: 6px;
  font-weight: 700;
}

.fandl .inepcx a span {
  display: block;
  font-size: 15px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color .1s linear;
  -moz-transition: color .1s linear;
  -webkit-transition: color .1s linear;
}

.fandl {
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-columns: 50% 50%;
}

.leftitm {
	grid-column-start: 1;
	grid-column-end: 1;
}

.rightitm {
	grid-column-start: 2;
	grid-column-end: 2;
}